@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

:root {
  --lunikoBlue: #032E59;
  --lunikoOrange: #E58004;
  --lunikoDarkGrey: #A6A6A6;
  --lunikoMidGrey: #BFBFBF;
  --lunikoLightGrey: #F2F2F2;
}

.App {
  text-align: center;
}

#root {
  height: 100%;
  background-image: url("img/background_pattern.png");
  font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11pt;
}

textarea:focus {
  outline: none;
}

.page-message {
  font-size: 15pt;
  font-weight: 500;
  margin-bottom: 20px;
}

.loading-spinner {
  display: flex;
  position: absolute;
  top: 56.5px;
  width: 100%;
  height: calc(100vh - 56.5px);
  justify-content: center;
  align-items: center;
  background-image: url("img/background_pattern.png");
  z-index: 2;
}

.transition-element {
  position: absolute;
  top: 56.5px;
  width: 100%;
  height: calc(100vh - 56.5px);
  /* height: 100vh; */
  background-image: url("img/background_pattern.png");
  transition: 500ms;
  z-index: 2;
}

.fading-balls-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

button p {
  margin-top: 0;
  margin-bottom: 0;
}