.test-script-instructions .material-dialog-exterior-button {
    border-color: var(--lunikoBlue) !important;
    background-color: transparent;
    color: var(--lunikoBlue) !important;
    padding: 10px !important;
    border-radius: 5px;
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 13pt !important;
    font-weight: 600 !important;
}

.MuiButton-root:hover {
    border-color: var(--lunikoBlue) !important;
}

.test-script-instructions .material-dialog-exterior-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.test-script-instructions .material-dialog-exterior-button-container img {
    margin-right: 8px;
    width: 23px;
    height: 23px;
}

#alert-dialog-title {
    font-size: 15pt !important;
    font-weight: 700 !important;
    padding-bottom: 27px !important;
}

#alert-dialog-description {
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 13pt;
    padding-bottom: 0 !important
}

.material-dialog-inactive-button, .material-dialog-active-button {
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 13pt !important;
    font-weight: 700 !important;
    color: var(--lunikoBlue) !important;
}

ol {
    margin-left: -15px !important;
}

li {
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.6);
}