.MuiInputLabel-root {
    display: flex !important;
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif !important;
    font-weight: 700 !important;
    font-size: 12pt !important;
    color: rgba(0, 0, 0, 0.7) !important;
    top: -0.2px !important;
}

.MuiInputLabel-shrink {
    font-size: 12pt !important;
    background-color: var(--lunikoMidGrey);
    margin: 0 !important;
    padding-right: 5px !important;
    /* margin-left: 5px !important;
    margin-right: 1px !important; */
    transform: translate(14px, -8.5px) scale(0.75) !important;
}

.enter-valid-load-sheet-name .MuiInputLabel-shrink {
    background-color: var(--lunikoDarkGrey) !important;
}

.MuiInputLabel-root.Mui-error {
    color: #d32f2f !important;
}

/* .MuiButtonBase-root {
    height: 27px !important;
} */

.MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.7) !important;
}

.Mui-disabled .MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.38) !important;
}

/* .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline,
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline,
.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
    border-color: #d32f2f !important;
} */

.MuiCheckbox-colorPrimary {
    color: var(--lunikoBlue) !important;
}

.MuiTypography-root {
    font-family: "Raleway", Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 12pt !important;
    text-align: left;
}

.MuiFormControlLabel-root {
    margin: 0 !important;
}

.Mui-disabled {
    color: rgba(0, 0, 0, 0.38) !important;
}